# 01. Importing libraries

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

# 02. Importing data

In [2]:
# Turn your project folder path into a string 

path = r'C:\Users\carol\Documents\DA\02 Data Inmersion\06 Advanced Analytics & Dashboard Design\Olist Analysis'

In [3]:
# Import items_merged.csv

df_merged = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'items_merged.csv'), index_col = False)

In [4]:
# Check the output

df_merged.head()

,Unnamed: 0,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_name_lenght,...,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,review_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,cool_stuff,58.0,...,871766c5855e863f6eccc05f988b23cb,28013,campos dos goytacazes,RJ,97ca439bc427b48bc1cd7177abe71365,5,NaN,"Perfeito, produto entregue antes do combinado.",2017-09-21 00:00:00,2017-09-22 10:57:03
1,1,130898c0987d1801452a8ed92a670612,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-07-05 02:44:11,55.9,17.96,cool_stuff,58.0,...,0fb8e3eab2d3e79d92bb3fffbb97f188,75800,jatai,GO,b11cba360bbe71410c291b764753d37f,5,NaN,"lannister como sempre, entregou certinho e den...",2017-07-14 00:00:00,2017-07-17 12:50:07
2,2,532ed5e14e24ae1f0d735b91524b98b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2018-05-23 10:56:25,64.9,18.33,cool_stuff,58.0,...,3419052c8c6b45daf79c1e426f9e9bcb,30720,belo horizonte,MG,af01c4017c5ab46df6cc810e069e654a,4,super recomendo,carrinho muito bonito,2018-06-05 00:00:00,2018-06-06 21:41:12
3,3,6f8c31653edb8c83e1a739408b5ff750,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-07 18:55:08,58.9,16.17,cool_stuff,58.0,...,e7c828d22c0682c1565252deefbe334d,83070,sao jose dos pinhais,PR,8304ff37d8b16b57086fa283fe0c44f8,5,NaN,NaN,2017-08-10 00:00:00,2017-08-13 03:35:17
4,4,7d19f4ef4d04461989632411b7e588b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-16 22:05:11,58.9,13.29,cool_stuff,58.0,...,0bb98ba72dcc08e95f9d8cc434e9a2cc,36400,conselheiro lafaiete,MG,426f43a82185969503fb3c86241a9535,5,NaN,NaN,2017-08-25 00:00:00,2017-08-28 00:51:18

# 03. Data wrangling

## Dropping columns

In [5]:
# Drop columns from merged dataset

df_wrangled = df_merged.drop(columns = ['Unnamed: 0','product_category_name'])

In [6]:
# Check the output

df_wrangled.shape

(115634, 39)

## Renaming columns

In [7]:
# Change name of column "order_dow" to orders_day_of_week

df_wrangled.rename(columns = {'freight_value' : 'item_shipping_cost'}, inplace = True)
df_wrangled.rename(columns = {'order_item_id' : 'order_item_count'}, inplace = True)
df_wrangled.rename(columns = {'order_purchase_timestamp' : 'timestamp_order'}, inplace = True)
df_wrangled.rename(columns = {'order_approved_at' : 'timestamp_payment_approval'}, inplace = True)
df_wrangled.rename(columns = {'order_delivered_carrier_date' : 'timestamp_order_dispatched'}, inplace = True)
df_wrangled.rename(columns = {'order_delivered_customer_date' : 'order_actual_delivery_date'}, inplace = True)
df_wrangled.rename(columns = {'order_estimated_delivery_date' : 'order_estimated_delivery_date'}, inplace = True)
df_wrangled.rename(columns = {'payment_sequential' : 'payment_method_count'}, inplace = True)
df_wrangled.rename(columns = {'review_comment_title' : 'review_title'}, inplace = True)
df_wrangled.rename(columns = {'review_comment_message' : 'review_text'}, inplace = True)
df_wrangled.rename(columns = {'review_creation_date' : 'survey_sent_date'}, inplace = True)
df_wrangled.rename(columns = {'review_answer_timestamp' : 'survey_submision_date'}, inplace = True)
df_wrangled.rename(columns = {'payment_value' : 'order_amount'}, inplace = True)
df_wrangled.rename(columns = {'price' : 'item_price'}, inplace = True)
df_wrangled.rename(columns = {'product_name_lenght' : 'product_name_length'}, inplace = True)
df_wrangled.rename(columns = {'product_description_lenght' : 'product_description_length'}, inplace = True)

In [8]:
# Check output

df_wrangled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115634 entries, 0 to 115633
Data columns (total 39 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       115634 non-null  object
 1   order_item_count               115634 non-null  int64
 2   product_id                     115634 non-null  object
 3   seller_id                      115634 non-null  object
 4   shipping_limit_date            115634 non-null  object
 5   item_price                     115634 non-null  float64
 6   item_shipping_cost             115634 non-null  float64
 7   product_name_length            115634 non-null  float64
 8   product_description_length     115634 non-null  float64
 9   product_photos_qty             115634 non-null  float64
 10  product_weight_g               115633 non-null  float64
 11  product_length_cm              115633 non-null  float64
 12  product_height_cm              115633 non-null  float64
 13  product_width_cm               115633 non-null  float64
 14  product_category_name_english  115634 non-null  object
 15  seller_zip_code_prefix         115634 non-null  int64
 16  seller_city                    115634 non-null  object
 17  seller_state                   115634 non-null  object
 18  customer_id                    115634 non-null  object
 19  order_status                   115634 non-null  object
 20  timestamp_order                115634 non-null  object
 21  timestamp_payment_approval     115620 non-null  object
 22  timestamp_order_dispatched     114437 non-null  object
 23  order_actual_delivery_date     113232 non-null  object
 24  order_estimated_delivery_date  115634 non-null  object
 25  payment_method_count           115634 non-null  int64
 26  payment_type                   115634 non-null  object
 27  payment_installments           115634 non-null  int64
 28  order_amount                   115634 non-null  float64
 29  customer_unique_id             115634 non-null  object
 30  customer_zip_code_prefix       115634 non-null  int64
 31  customer_city                  115634 non-null  object
 32  customer_state                 115634 non-null  object
 33  review_id                      115634 non-null  object
 34  review_score                   115634 non-null  int64
 35  review_title                   13810 non-null   object
 36  review_text                    48918 non-null   object
 37  survey_sent_date               115634 non-null  object
 38  survey_submision_date          115634 non-null  object
dtypes: float64(10), int64(6), object(23)
memory usage: 34.4+ MB

## Changing data types

In [9]:
# Change types for data set

df_wrangled['seller_zip_code_prefix']=df_wrangled['seller_zip_code_prefix'].astype('object')
df_wrangled['customer_zip_code_prefix']=df_wrangled['customer_zip_code_prefix'].astype('object')
df_wrangled['order_actual_delivery_date'] = df_wrangled['order_actual_delivery_date'].astype('datetime64[ns]')
df_wrangled['order_estimated_delivery_date'] = df_wrangled['order_estimated_delivery_date'].astype('datetime64[ns]')
df_wrangled['timestamp_order'] = df_wrangled['timestamp_order'].astype('datetime64[ns]')
df_wrangled['timestamp_payment_approval'] = df_wrangled['timestamp_payment_approval'].astype('datetime64[ns]')
df_wrangled['timestamp_order_dispatched'] = df_wrangled['timestamp_order_dispatched'].astype('datetime64[ns]')
df_wrangled['product_name_length']=df_wrangled['product_name_length'].astype('int64')
df_wrangled['product_description_length']=df_wrangled['product_description_length'].astype('int64')
df_wrangled['product_photos_qty']=df_wrangled['product_photos_qty'].astype('int64')

In [10]:
# Check output

df_wrangled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115634 entries, 0 to 115633
Data columns (total 39 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       115634 non-null  object
 1   order_item_count               115634 non-null  int64
 2   product_id                     115634 non-null  object
 3   seller_id                      115634 non-null  object
 4   shipping_limit_date            115634 non-null  object
 5   item_price                     115634 non-null  float64
 6   item_shipping_cost             115634 non-null  float64
 7   product_name_length            115634 non-null  int64
 8   product_description_length     115634 non-null  int64
 9   product_photos_qty             115634 non-null  int64
 10  product_weight_g               115633 non-null  float64
 11  product_length_cm              115633 non-null  float64
 12  product_height_cm              115633 non-null  float64
 13  product_width_cm               115633 non-null  float64
 14  product_category_name_english  115634 non-null  object
 15  seller_zip_code_prefix         115634 non-null  object
 16  seller_city                    115634 non-null  object
 17  seller_state                   115634 non-null  object
 18  customer_id                    115634 non-null  object
 19  order_status                   115634 non-null  object
 20  timestamp_order                115634 non-null  datetime64[ns]
 21  timestamp_payment_approval     115620 non-null  datetime64[ns]
 22  timestamp_order_dispatched     114437 non-null  datetime64[ns]
 23  order_actual_delivery_date     113232 non-null  datetime64[ns]
 24  order_estimated_delivery_date  115634 non-null  datetime64[ns]
 25  payment_method_count           115634 non-null  int64
 26  payment_type                   115634 non-null  object
 27  payment_installments           115634 non-null  int64
 28  order_amount                   115634 non-null  float64
 29  customer_unique_id             115634 non-null  object
 30  customer_zip_code_prefix       115634 non-null  object
 31  customer_city                  115634 non-null  object
 32  customer_state                 115634 non-null  object
 33  review_id                      115634 non-null  object
 34  review_score                   115634 non-null  int64
 35  review_title                   13810 non-null   object
 36  review_text                    48918 non-null   object
 37  survey_sent_date               115634 non-null  object
 38  survey_submision_date          115634 non-null  object
dtypes: datetime64[ns](5), float64(7), int64(7), object(20)
memory usage: 34.4+ MB

# 04. Data Consistency Checks

In [11]:
# Check general descriptive stats

df_wrangled.describe()

,order_item_count,item_price,item_shipping_cost,product_name_length,product_description_length,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,payment_method_count,payment_installments,order_amount,review_score
count,115634.000000,115634.000000,115634.000000,115634.000000,115634.000000,115634.000000,115633.000000,115633.000000,115633.000000,115633.000000,115634.000000,115634.000000,115634.000000,115634.000000
mean,1.194519,120.642585,20.056508,48.768018,785.802861,2.205528,2113.989951,30.306625,16.639809,23.112900,1.093735,2.946071,172.406408,4.034229
std,0.685869,182.698116,15.835259,10.033831,652.382965,1.717783,3781.554532,16.210000,13.472815,11.754028,0.729776,2.781020,265.892023,1.385694
min,1.000000,0.850000,0.000000,5.000000,4.000000,1.000000,0.000000,7.000000,2.000000,6.000000,1.000000,0.000000,0.000000,1.000000
25%,1.000000,39.900000,13.080000,42.000000,346.000000,1.000000,300.000000,18.000000,8.000000,15.000000,1.000000,1.000000,60.860000,4.000000
50%,1.000000,74.900000,16.320000,52.000000,600.000000,1.000000,700.000000,25.000000,13.000000,20.000000,1.000000,2.000000,108.050000,5.000000
75%,1.000000,134.900000,21.210000,57.000000,983.000000,3.000000,1800.000000,38.000000,20.000000,30.000000,1.000000,4.000000,189.480000,5.000000
max,21.000000,6735.000000,409.680000,76.000000,3992.000000,20.000000,40425.000000,105.000000,105.000000,118.000000,29.000000,24.000000,13664.080000,5.000000

### The max price seems high compared to the average. I'll create a subset and review the categories.

In [12]:
# create a subset for the df_wrangled dataframe that only contains data from prices >1000

df_high_price =  df_wrangled[df_wrangled['item_price']> 3000]

In [13]:
df_high_price.shape

(26, 39)

In [14]:
df_high_price.groupby('product_category_name_english').agg({'item_price': ['mean']})

                               item_price
                                     mean
product_category_name_english
art                               6499.00
baby                              3899.00
computers                         3846.33
computers_accessories             3699.99
consoles_games                    4099.99
construction_tools_safety         3099.90
cool_stuff                        3109.99
garden_tools                      3517.50
health_beauty                     3124.00
housewares                        6735.00
industry_commerce_and_business    3089.00
musical_instruments               4399.87
small_appliances                  4371.75
sports_leisure                    3616.00
watches_gifts                     3849.95

### The category of the items with prices > 3,000 are high value categories

## Finding missing values

In [15]:
# Find missing values

df_wrangled.isnull().sum()

order_id                              0
order_item_count                      0
product_id                            0
seller_id                             0
shipping_limit_date                   0
item_price                            0
item_shipping_cost                    0
product_name_length                   0
product_description_length            0
product_photos_qty                    0
product_weight_g                      1
product_length_cm                     1
product_height_cm                     1
product_width_cm                      1
product_category_name_english         0
seller_zip_code_prefix                0
seller_city                           0
seller_state                          0
customer_id                           0
order_status                          0
timestamp_order                       0
timestamp_payment_approval           14
timestamp_order_dispatched         1197
order_actual_delivery_date         2402
order_estimated_delivery_date         0
payment_method_count                  0
payment_type                          0
payment_installments                  0
order_amount                          0
customer_unique_id                    0
customer_zip_code_prefix              0
customer_city                         0
customer_state                        0
review_id                             0
review_score                          0
review_title                     101824
review_text                       66716
survey_sent_date                      0
survey_submision_date                 0
dtype: int64

### Taking into account that the missing values are from variables that may have missing values, I won't remove or input a new value and will leave the data as is.

## Checking for Mixed-Type Data

In [16]:
# Check for mixed types

for col in df_wrangled.columns.tolist():
  weird = (df_wrangled[[col]].applymap(type) != df_wrangled[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_wrangled[weird]) > 0:
    print (col)

timestamp_payment_approval
timestamp_order_dispatched
order_actual_delivery_date
review_title
review_text

### The mixed types are because there are missing values in these columns. I'll convert to strings only the review title and text.

In [17]:
# Convert to string

df_wrangled['review_title'] = df_wrangled['review_title'].astype('str')
df_wrangled['review_text'] = df_wrangled['review_text'].astype('str')

In [18]:
# Check for mixed types

for col in df_wrangled.columns.tolist():
  weird = (df_wrangled[[col]].applymap(type) != df_wrangled[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_wrangled[weird]) > 0:
    print (col)

timestamp_payment_approval
timestamp_order_dispatched
order_actual_delivery_date

## Finding duplicates

In [19]:
# look for full duplicates within the dataframe

df_dups = df_wrangled[df_wrangled.duplicated()]

In [20]:
df_dups

Empty DataFrame
Columns: [order_id, order_item_count, product_id, seller_id, shipping_limit_date, item_price, item_shipping_cost, product_name_length, product_description_length, product_photos_qty, product_weight_g, product_length_cm, product_height_cm, product_width_cm, product_category_name_english, seller_zip_code_prefix, seller_city, seller_state, customer_id, order_status, timestamp_order, timestamp_payment_approval, timestamp_order_dispatched, order_actual_delivery_date, order_estimated_delivery_date, payment_method_count, payment_type, payment_installments, order_amount, customer_unique_id, customer_zip_code_prefix, customer_city, customer_state, review_id, review_score, review_title, review_text, survey_sent_date, survey_submision_date]
Index: []

[0 rows x 39 columns]

In [21]:
# Check final dataset

df_wrangled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115634 entries, 0 to 115633
Data columns (total 39 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       115634 non-null  object
 1   order_item_count               115634 non-null  int64
 2   product_id                     115634 non-null  object
 3   seller_id                      115634 non-null  object
 4   shipping_limit_date            115634 non-null  object
 5   item_price                     115634 non-null  float64
 6   item_shipping_cost             115634 non-null  float64
 7   product_name_length            115634 non-null  int64
 8   product_description_length     115634 non-null  int64
 9   product_photos_qty             115634 non-null  int64
 10  product_weight_g               115633 non-null  float64
 11  product_length_cm              115633 non-null  float64
 12  product_height_cm              115633 non-null  float64
 13  product_width_cm               115633 non-null  float64
 14  product_category_name_english  115634 non-null  object
 15  seller_zip_code_prefix         115634 non-null  object
 16  seller_city                    115634 non-null  object
 17  seller_state                   115634 non-null  object
 18  customer_id                    115634 non-null  object
 19  order_status                   115634 non-null  object
 20  timestamp_order                115634 non-null  datetime64[ns]
 21  timestamp_payment_approval     115620 non-null  datetime64[ns]
 22  timestamp_order_dispatched     114437 non-null  datetime64[ns]
 23  order_actual_delivery_date     113232 non-null  datetime64[ns]
 24  order_estimated_delivery_date  115634 non-null  datetime64[ns]
 25  payment_method_count           115634 non-null  int64
 26  payment_type                   115634 non-null  object
 27  payment_installments           115634 non-null  int64
 28  order_amount                   115634 non-null  float64
 29  customer_unique_id             115634 non-null  object
 30  customer_zip_code_prefix       115634 non-null  object
 31  customer_city                  115634 non-null  object
 32  customer_state                 115634 non-null  object
 33  review_id                      115634 non-null  object
 34  review_score                   115634 non-null  int64
 35  review_title                   115634 non-null  object
 36  review_text                    115634 non-null  object
 37  survey_sent_date               115634 non-null  object
 38  survey_submision_date          115634 non-null  object
dtypes: datetime64[ns](5), float64(7), int64(7), object(20)
memory usage: 34.4+ MB

# 05. Exporting wrangled dataset

In [22]:
# Export final dataset

df_wrangled.to_csv(os.path.join(path, '02 Data','Prepared Data', 'items_wrangled.csv'))