# 01. Importing Libraries

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
import os

In [2]:
# Check matplotlib version

matplotlib.__version__

'3.7.1'

In [3]:
# This option ensures the charts you create are displayed in the notebook without the need to "call" them specifically.

%matplotlib inline

# 02. Importing Data

In [4]:
# Define path

path = r'C:\Users\carol\Documents\DA\02 Data Inmersion\06 Advanced Analytics & Dashboard Design\Olist Analysis'

In [5]:
# Import data

df = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'items_wrangled.csv'), index_col = False)

In [6]:
# Check dataset

df.head()

,Unnamed: 0,order_id,order_item_count,product_id,seller_id,shipping_limit_date,item_price,item_shipping_cost,product_name_length,product_description_length,...,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,review_id,review_score,review_title,review_text,survey_sent_date,survey_submision_date
0,0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,58,598,...,871766c5855e863f6eccc05f988b23cb,28013,campos dos goytacazes,RJ,97ca439bc427b48bc1cd7177abe71365,5,NaN,"Perfeito, produto entregue antes do combinado.",2017-09-21 00:00:00,2017-09-22 10:57:03
1,1,130898c0987d1801452a8ed92a670612,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-07-05 02:44:11,55.9,17.96,58,598,...,0fb8e3eab2d3e79d92bb3fffbb97f188,75800,jatai,GO,b11cba360bbe71410c291b764753d37f,5,NaN,"lannister como sempre, entregou certinho e den...",2017-07-14 00:00:00,2017-07-17 12:50:07
2,2,532ed5e14e24ae1f0d735b91524b98b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2018-05-23 10:56:25,64.9,18.33,58,598,...,3419052c8c6b45daf79c1e426f9e9bcb,30720,belo horizonte,MG,af01c4017c5ab46df6cc810e069e654a,4,super recomendo,carrinho muito bonito,2018-06-05 00:00:00,2018-06-06 21:41:12
3,3,6f8c31653edb8c83e1a739408b5ff750,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-07 18:55:08,58.9,16.17,58,598,...,e7c828d22c0682c1565252deefbe334d,83070,sao jose dos pinhais,PR,8304ff37d8b16b57086fa283fe0c44f8,5,NaN,NaN,2017-08-10 00:00:00,2017-08-13 03:35:17
4,4,7d19f4ef4d04461989632411b7e588b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-16 22:05:11,58.9,13.29,58,598,...,0bb98ba72dcc08e95f9d8cc434e9a2cc,36400,conselheiro lafaiete,MG,426f43a82185969503fb3c86241a9535,5,NaN,NaN,2017-08-25 00:00:00,2017-08-28 00:51:18

In [7]:
# Drop columns

df = df.drop(columns = ['Unnamed: 0'])

In [8]:
# Check columns

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115634 entries, 0 to 115633
Data columns (total 39 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       115634 non-null  object
 1   order_item_count               115634 non-null  int64
 2   product_id                     115634 non-null  object
 3   seller_id                      115634 non-null  object
 4   shipping_limit_date            115634 non-null  object
 5   item_price                     115634 non-null  float64
 6   item_shipping_cost             115634 non-null  float64
 7   product_name_length            115634 non-null  int64
 8   product_description_length     115634 non-null  int64
 9   product_photos_qty             115634 non-null  int64
 10  product_weight_g               115633 non-null  float64
 11  product_length_cm              115633 non-null  float64
 12  product_height_cm              115633 non-null  float64
 13  product_width_cm               115633 non-null  float64
 14  product_category_name_english  115634 non-null  object
 15  seller_zip_code_prefix         115634 non-null  int64
 16  seller_city                    115634 non-null  object
 17  seller_state                   115634 non-null  object
 18  customer_id                    115634 non-null  object
 19  order_status                   115634 non-null  object
 20  timestamp_order                115634 non-null  object
 21  timestamp_payment_approval     115620 non-null  object
 22  timestamp_order_dispatched     114437 non-null  object
 23  order_actual_delivery_date     113232 non-null  object
 24  order_estimated_delivery_date  115634 non-null  object
 25  payment_method_count           115634 non-null  int64
 26  payment_type                   115634 non-null  object
 27  payment_installments           115634 non-null  int64
 28  order_amount                   115634 non-null  float64
 29  customer_unique_id             115634 non-null  object
 30  customer_zip_code_prefix       115634 non-null  int64
 31  customer_city                  115634 non-null  object
 32  customer_state                 115634 non-null  object
 33  review_id                      115634 non-null  object
 34  review_score                   115634 non-null  int64
 35  review_title                   13810 non-null   object
 36  review_text                    48918 non-null   object
 37  survey_sent_date               115634 non-null  object
 38  survey_submision_date          115634 non-null  object
dtypes: float64(7), int64(9), object(23)
memory usage: 34.4+ MB

In [9]:
# Change types for data set

df['seller_zip_code_prefix']=df['seller_zip_code_prefix'].astype('object')
df['customer_zip_code_prefix']=df['customer_zip_code_prefix'].astype('object')
df['order_actual_delivery_date'] = df['order_actual_delivery_date'].astype('datetime64[ns]')
df['order_estimated_delivery_date'] = df['order_estimated_delivery_date'].astype('datetime64[ns]')
df['timestamp_order'] = df['timestamp_order'].astype('datetime64[ns]')
df['timestamp_payment_approval'] = df['timestamp_payment_approval'].astype('datetime64[ns]')
df['timestamp_order_dispatched'] = df['timestamp_order_dispatched'].astype('datetime64[ns]')
df['product_name_length']=df['product_name_length'].astype('int64')
df['product_description_length']=df['product_description_length'].astype('int64')
df['product_photos_qty']=df['product_photos_qty'].astype('int64')

In [10]:
# Create new column to concatenate order_id + product_id + order_count

df['order_product_item_count'] = df['order_id']+"_"+ df["product_id"]+"_"+ df["order_item_count"].astype(str)

In [11]:
# Create new column to concatenate order_id + product_id + order_count

df['order_product'] = df['order_id']+"_"+ df["product_id"]

In [12]:
# Check dataset

df.head()

,order_id,order_item_count,product_id,seller_id,shipping_limit_date,item_price,item_shipping_cost,product_name_length,product_description_length,product_photos_qty,...,customer_city,customer_state,review_id,review_score,review_title,review_text,survey_sent_date,survey_submision_date,order_product_item_count,order_product
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,58,598,4,...,campos dos goytacazes,RJ,97ca439bc427b48bc1cd7177abe71365,5,NaN,"Perfeito, produto entregue antes do combinado.",2017-09-21 00:00:00,2017-09-22 10:57:03,00010242fe8c5a6d1ba2dd792cb16214_4244733e06e7e...,00010242fe8c5a6d1ba2dd792cb16214_4244733e06e7e...
1,130898c0987d1801452a8ed92a670612,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-07-05 02:44:11,55.9,17.96,58,598,4,...,jatai,GO,b11cba360bbe71410c291b764753d37f,5,NaN,"lannister como sempre, entregou certinho e den...",2017-07-14 00:00:00,2017-07-17 12:50:07,130898c0987d1801452a8ed92a670612_4244733e06e7e...,130898c0987d1801452a8ed92a670612_4244733e06e7e...
2,532ed5e14e24ae1f0d735b91524b98b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2018-05-23 10:56:25,64.9,18.33,58,598,4,...,belo horizonte,MG,af01c4017c5ab46df6cc810e069e654a,4,super recomendo,carrinho muito bonito,2018-06-05 00:00:00,2018-06-06 21:41:12,532ed5e14e24ae1f0d735b91524b98b9_4244733e06e7e...,532ed5e14e24ae1f0d735b91524b98b9_4244733e06e7e...
3,6f8c31653edb8c83e1a739408b5ff750,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-07 18:55:08,58.9,16.17,58,598,4,...,sao jose dos pinhais,PR,8304ff37d8b16b57086fa283fe0c44f8,5,NaN,NaN,2017-08-10 00:00:00,2017-08-13 03:35:17,6f8c31653edb8c83e1a739408b5ff750_4244733e06e7e...,6f8c31653edb8c83e1a739408b5ff750_4244733e06e7e...
4,7d19f4ef4d04461989632411b7e588b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-16 22:05:11,58.9,13.29,58,598,4,...,conselheiro lafaiete,MG,426f43a82185969503fb3c86241a9535,5,NaN,NaN,2017-08-25 00:00:00,2017-08-28 00:51:18,7d19f4ef4d04461989632411b7e588b9_4244733e06e7e...,7d19f4ef4d04461989632411b7e588b9_4244733e06e7e...

# 03. Creating new tables to explore relationships

#### In order to explore relationships between different values, I'll create 3 different tables:

#### - Units sold: this table will aggregate sales per product id and include different product characteristics such as the number of pictures uploaded, the length of the title and the length of the description.

#### - Payment preferences: this table will aggregate the orders with the amount, number of installments and count of payment methods.

#### - Order reviews: this table will aggregate the orders by rating and delivery time.

## Units sold

In [13]:
# Create new dataset with an aggregate of sales and different product characteristics

units_sold = df.groupby('product_id').agg({'order_product_item_count': ['nunique'],'product_photos_qty': ['mean'],'product_name_length': ['mean'],'product_description_length': ['mean']})

In [14]:
# check dataset

units_sold.head()

,order_product_item_count,product_photos_qty,product_name_length,product_description_length
,nunique,mean,mean,mean
product_id,,,,
00066f42aeeb9f3007548bb9d3f33c38,1,6.0,53.0,596.0
00088930e925c41fd95ebfe695fd2655,1,4.0,56.0,752.0
0009406fd7479715e4bef61dd91f2462,1,2.0,50.0,266.0
000b8f95fcb9e0096488278317764d19,2,3.0,25.0,364.0
000d9be29b5207b54e86aa1b1ac54872,1,4.0,48.0,613.0

In [15]:
units_sold.shape

(32184, 4)

In [16]:
# Rename column

units_sold.rename(columns = {'order_product_item_count' : 'units_sold'}, inplace = True)

In [17]:
# Export new dataset

units_sold.to_csv(os.path.join(path, '02 Data','Prepared Data', 'units_sold.csv'))

In [18]:
# Import data

units_sold = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'units_sold.csv'), index_col = False)

In [19]:
# check dataset

units_sold.head()

,Unnamed: 0,units_sold,product_photos_qty,product_name_length,product_description_length
0,NaN,nunique,mean,mean,mean
1,product_id,NaN,NaN,NaN,NaN
2,00066f42aeeb9f3007548bb9d3f33c38,1,6.0,53.0,596.0
3,00088930e925c41fd95ebfe695fd2655,1,4.0,56.0,752.0
4,0009406fd7479715e4bef61dd91f2462,1,2.0,50.0,266.0

In [20]:
# Rename column

units_sold.rename(columns = {'Unnamed: 0' : 'product_id'}, inplace = True)

In [21]:
# Drop rows

units_sold_final = units_sold.drop([0, 1])

In [22]:
# Check output

units_sold_final.head()

,product_id,units_sold,product_photos_qty,product_name_length,product_description_length
2,00066f42aeeb9f3007548bb9d3f33c38,1,6.0,53.0,596.0
3,00088930e925c41fd95ebfe695fd2655,1,4.0,56.0,752.0
4,0009406fd7479715e4bef61dd91f2462,1,2.0,50.0,266.0
5,000b8f95fcb9e0096488278317764d19,2,3.0,25.0,364.0
6,000d9be29b5207b54e86aa1b1ac54872,1,4.0,48.0,613.0

In [23]:
# Drop and reset index

units_sold_final.reset_index(drop=True)

,product_id,units_sold,product_photos_qty,product_name_length,product_description_length
0,00066f42aeeb9f3007548bb9d3f33c38,1,6.0,53.0,596.0
1,00088930e925c41fd95ebfe695fd2655,1,4.0,56.0,752.0
2,0009406fd7479715e4bef61dd91f2462,1,2.0,50.0,266.0
3,000b8f95fcb9e0096488278317764d19,2,3.0,25.0,364.0
4,000d9be29b5207b54e86aa1b1ac54872,1,4.0,48.0,613.0
...,...,...,...,...,...
32179,fff6177642830a9a94a0f2cba5e476d1,2,1.0,54.0,842.0
32180,fff81cc3158d2725c0655ab9ba0f712c,1,1.0,54.0,643.0
32181,fff9553ac224cec9d15d49f5a263411f,1,3.0,22.0,328.0
32182,fffdb2d0ec8d6a61f0a0a0db3f25b441,5,5.0,47.0,501.0
32183,fffe9eeff12fcbd74a2f2b007dde0c58,1,3.0,57.0,1536.0

## Payment preferences

In [24]:
# Create new dataset

payment_preferences = df.groupby('order_id').agg({'order_amount': ['sum'],'payment_installments': ['mean'],'payment_method_count': ['max']})

In [25]:
# check dataset

payment_preferences.head()

,order_amount,payment_installments,payment_method_count
,sum,mean,max
order_id,,,
00010242fe8c5a6d1ba2dd792cb16214,72.19,2.0,1
00018f77f2f0320c557190d7a144bdd3,259.83,3.0,1
000229ec398224ef6ca0657da4fc703e,216.87,5.0,1
00024acbcdf0a6daa1e931b038114c75,25.78,2.0,1
00042b26cf59d7ce69dfabb4e55b4fd9,218.04,3.0,1

In [26]:
# Export new dataset

payment_preferences.to_csv(os.path.join(path, '02 Data','Prepared Data', 'payment_preferences.csv'))

In [27]:
# Import data

payment_preferences = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'payment_preferences.csv'), index_col = False)

In [28]:
# Check dataset

payment_preferences.head()

,Unnamed: 0,order_amount,payment_installments,payment_method_count
0,NaN,sum,mean,max
1,order_id,NaN,NaN,NaN
2,00010242fe8c5a6d1ba2dd792cb16214,72.19,2.0,1
3,00018f77f2f0320c557190d7a144bdd3,259.83,3.0,1
4,000229ec398224ef6ca0657da4fc703e,216.87,5.0,1

In [29]:
# Rename column

payment_preferences.rename(columns = {'Unnamed: 0' : 'order_id'}, inplace = True)

In [30]:
# Drop rows

payment_preferences_final = payment_preferences.drop([0, 1])

In [31]:
# Check output

payment_preferences_final.head()

,order_id,order_amount,payment_installments,payment_method_count
2,00010242fe8c5a6d1ba2dd792cb16214,72.19,2.0,1
3,00018f77f2f0320c557190d7a144bdd3,259.83,3.0,1
4,000229ec398224ef6ca0657da4fc703e,216.87,5.0,1
5,00024acbcdf0a6daa1e931b038114c75,25.78,2.0,1
6,00042b26cf59d7ce69dfabb4e55b4fd9,218.04,3.0,1

In [32]:
# Drop and reset index

payment_preferences_final.reset_index(drop=True)

,order_id,order_amount,payment_installments,payment_method_count
0,00010242fe8c5a6d1ba2dd792cb16214,72.19,2.0,1
1,00018f77f2f0320c557190d7a144bdd3,259.83,3.0,1
2,000229ec398224ef6ca0657da4fc703e,216.87,5.0,1
3,00024acbcdf0a6daa1e931b038114c75,25.78,2.0,1
4,00042b26cf59d7ce69dfabb4e55b4fd9,218.04,3.0,1
...,...,...,...,...
96532,fffc94f6ce00a00581880bf54a75a037,343.4,1.0,1
96533,fffcd46ef2263f404302a634eb57f7eb,386.53,1.0,1
96534,fffce4705a9662cd70adb13d4a31832d,116.85,3.0,1
96535,fffe18544ffabc95dfada21779c9644f,64.71,3.0,1
96536,fffe41c64501cc87c801fd61db3f6244,55.79,1.0,1

## Order reviews

In [33]:
# Create new column to measure how long it takes Olist to fullfill customers' orders

df['order_lead_time'] = df['order_actual_delivery_date'] - df['timestamp_order']

# Convert the difference in days

df['order_lead_time'] = df['order_lead_time'] / np.timedelta64(1,'D')

# Check output
df

,order_id,order_item_count,product_id,seller_id,shipping_limit_date,item_price,item_shipping_cost,product_name_length,product_description_length,product_photos_qty,...,customer_state,review_id,review_score,review_title,review_text,survey_sent_date,survey_submision_date,order_product_item_count,order_product,order_lead_time
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,58,598,4,...,RJ,97ca439bc427b48bc1cd7177abe71365,5,NaN,"Perfeito, produto entregue antes do combinado.",2017-09-21 00:00:00,2017-09-22 10:57:03,00010242fe8c5a6d1ba2dd792cb16214_4244733e06e7e...,00010242fe8c5a6d1ba2dd792cb16214_4244733e06e7e...,7.614421
1,130898c0987d1801452a8ed92a670612,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-07-05 02:44:11,55.90,17.96,58,598,4,...,GO,b11cba360bbe71410c291b764753d37f,5,NaN,"lannister como sempre, entregou certinho e den...",2017-07-14 00:00:00,2017-07-17 12:50:07,130898c0987d1801452a8ed92a670612_4244733e06e7e...,130898c0987d1801452a8ed92a670612_4244733e06e7e...,15.366076
2,532ed5e14e24ae1f0d735b91524b98b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2018-05-23 10:56:25,64.90,18.33,58,598,4,...,MG,af01c4017c5ab46df6cc810e069e654a,4,super recomendo,carrinho muito bonito,2018-06-05 00:00:00,2018-06-06 21:41:12,532ed5e14e24ae1f0d735b91524b98b9_4244733e06e7e...,532ed5e14e24ae1f0d735b91524b98b9_4244733e06e7e...,17.339271
3,6f8c31653edb8c83e1a739408b5ff750,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-07 18:55:08,58.90,16.17,58,598,4,...,PR,8304ff37d8b16b57086fa283fe0c44f8,5,NaN,NaN,2017-08-10 00:00:00,2017-08-13 03:35:17,6f8c31653edb8c83e1a739408b5ff750_4244733e06e7e...,6f8c31653edb8c83e1a739408b5ff750_4244733e06e7e...,8.116563
4,7d19f4ef4d04461989632411b7e588b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-16 22:05:11,58.90,13.29,58,598,4,...,MG,426f43a82185969503fb3c86241a9535,5,NaN,NaN,2017-08-25 00:00:00,2017-08-28 00:51:18,7d19f4ef4d04461989632411b7e588b9_4244733e06e7e...,7d19f4ef4d04461989632411b7e588b9_4244733e06e7e...,13.927558
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115629,a79bd7af35a4fffee2b23fded963b4ea,1,cc696680ea0cefcd5d7d5d928afb8de8,217f005bb37ff3aeef5b2ae1788e75ba,2017-04-27 20:25:22,24.99,16.05,48,1108,2,...,RS,9a4af588f642000eeff19ea4eb15a197,4,NaN,NaN,2017-05-09 00:00:00,2017-05-10 11:09:45,a79bd7af35a4fffee2b23fded963b4ea_cc696680ea0ce...,a79bd7af35a4fffee2b23fded963b4ea_cc696680ea0ce...,16.584491
115630,1d7542bb5262913fe0516f7943b69a58,1,6727051471a0fc4a0e7737b57bff2549,1961c3e1272bfeceb05d0b78b5bbfdaf,2018-08-01 23:45:09,219.00,9.69,60,1532,3,...,SP,fb392fc072c42b159c666f0d547911ec,5,NaN,NaN,2018-08-01 00:00:00,2018-08-02 11:02:46,1d7542bb5262913fe0516f7943b69a58_6727051471a0f...,1d7542bb5262913fe0516f7943b69a58_6727051471a0f...,2.814988
115631,1d7542bb5262913fe0516f7943b69a58,2,6727051471a0fc4a0e7737b57bff2549,1961c3e1272bfeceb05d0b78b5bbfdaf,2018-08-01 23:45:09,219.00,9.69,60,1532,3,...,SP,fb392fc072c42b159c666f0d547911ec,5,NaN,NaN,2018-08-01 00:00:00,2018-08-02 11:02:46,1d7542bb5262913fe0516f7943b69a58_6727051471a0f...,1d7542bb5262913fe0516f7943b69a58_6727051471a0f...,2.814988
115632,4a8493d781a65dfb623103a5dedf44fa,1,6727051471a0fc4a0e7737b57bff2549,1961c3e1272bfeceb05d0b78b5bbfdaf,2018-08-23 04:55:37,219.00,19.63,60,1532,3,...,RS,c9ec20fa7c49d29faacc03c26bc22c21,4,NaN,NaN,2018-08-30 00:00:00,2018-08-30 18:11:59,4a8493d781a65dfb623103a5dedf44fa_6727051471a0f...,4a8493d781a65dfb623103a5dedf44fa_6727051471a0f...,10.657396
115633,2ad4df0af7a71d632dccc0129bee3268,1,dbe520fb381ad695a7e1f2807d20c765,1961c3e1272bfeceb05d0b78b5bbfdaf,2018-08-03 16:44:57,239.00,10.42,60,840,6,...,SP,ba287bd4bd3be5d9d37a908f25e21308,1,NaN,Ainda nÃ£o recebi o produto e tbm recebi uma ou...,2018-08-04 00:00:00,2018-08-06 15:23:59,2ad4df0af7a71d632dccc0129bee3268_dbe520fb381ad...,2ad4df0af7a71d632dccc0129bee3268_dbe520fb381ad...,NaN

In [34]:
# Create new column to measure how long it takes Olist to fullfill customers' orders

df['order_days_delayed'] = df['order_actual_delivery_date'] - df['order_estimated_delivery_date']

# Convert the difference in days

df['order_days_delayed'] = df['order_days_delayed'] / np.timedelta64(1,'D')

# Check output
df

,order_id,order_item_count,product_id,seller_id,shipping_limit_date,item_price,item_shipping_cost,product_name_length,product_description_length,product_photos_qty,...,review_id,review_score,review_title,review_text,survey_sent_date,survey_submision_date,order_product_item_count,order_product,order_lead_time,order_days_delayed
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,58,598,4,...,97ca439bc427b48bc1cd7177abe71365,5,NaN,"Perfeito, produto entregue antes do combinado.",2017-09-21 00:00:00,2017-09-22 10:57:03,00010242fe8c5a6d1ba2dd792cb16214_4244733e06e7e...,00010242fe8c5a6d1ba2dd792cb16214_4244733e06e7e...,7.614421,-8.011250
1,130898c0987d1801452a8ed92a670612,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-07-05 02:44:11,55.90,17.96,58,598,4,...,b11cba360bbe71410c291b764753d37f,5,NaN,"lannister como sempre, entregou certinho e den...",2017-07-14 00:00:00,2017-07-17 12:50:07,130898c0987d1801452a8ed92a670612_4244733e06e7e...,130898c0987d1801452a8ed92a670612_4244733e06e7e...,15.366076,-12.139248
2,532ed5e14e24ae1f0d735b91524b98b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2018-05-23 10:56:25,64.90,18.33,58,598,4,...,af01c4017c5ab46df6cc810e069e654a,4,super recomendo,carrinho muito bonito,2018-06-05 00:00:00,2018-06-06 21:41:12,532ed5e14e24ae1f0d735b91524b98b9_4244733e06e7e...,532ed5e14e24ae1f0d735b91524b98b9_4244733e06e7e...,17.339271,-2.226088
3,6f8c31653edb8c83e1a739408b5ff750,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-07 18:55:08,58.90,16.17,58,598,4,...,8304ff37d8b16b57086fa283fe0c44f8,5,NaN,NaN,2017-08-10 00:00:00,2017-08-13 03:35:17,6f8c31653edb8c83e1a739408b5ff750_4244733e06e7e...,6f8c31653edb8c83e1a739408b5ff750_4244733e06e7e...,8.116563,-15.106563
4,7d19f4ef4d04461989632411b7e588b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-16 22:05:11,58.90,13.29,58,598,4,...,426f43a82185969503fb3c86241a9535,5,NaN,NaN,2017-08-25 00:00:00,2017-08-28 00:51:18,7d19f4ef4d04461989632411b7e588b9_4244733e06e7e...,7d19f4ef4d04461989632411b7e588b9_4244733e06e7e...,13.927558,-7.163646
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115629,a79bd7af35a4fffee2b23fded963b4ea,1,cc696680ea0cefcd5d7d5d928afb8de8,217f005bb37ff3aeef5b2ae1788e75ba,2017-04-27 20:25:22,24.99,16.05,48,1108,2,...,9a4af588f642000eeff19ea4eb15a197,4,NaN,NaN,2017-05-09 00:00:00,2017-05-10 11:09:45,a79bd7af35a4fffee2b23fded963b4ea_cc696680ea0ce...,a79bd7af35a4fffee2b23fded963b4ea_cc696680ea0ce...,16.584491,-8.571042
115630,1d7542bb5262913fe0516f7943b69a58,1,6727051471a0fc4a0e7737b57bff2549,1961c3e1272bfeceb05d0b78b5bbfdaf,2018-08-01 23:45:09,219.00,9.69,60,1532,3,...,fb392fc072c42b159c666f0d547911ec,5,NaN,NaN,2018-08-01 00:00:00,2018-08-02 11:02:46,1d7542bb5262913fe0516f7943b69a58_6727051471a0f...,1d7542bb5262913fe0516f7943b69a58_6727051471a0f...,2.814988,-1.203924
115631,1d7542bb5262913fe0516f7943b69a58,2,6727051471a0fc4a0e7737b57bff2549,1961c3e1272bfeceb05d0b78b5bbfdaf,2018-08-01 23:45:09,219.00,9.69,60,1532,3,...,fb392fc072c42b159c666f0d547911ec,5,NaN,NaN,2018-08-01 00:00:00,2018-08-02 11:02:46,1d7542bb5262913fe0516f7943b69a58_6727051471a0f...,1d7542bb5262913fe0516f7943b69a58_6727051471a0f...,2.814988,-1.203924
115632,4a8493d781a65dfb623103a5dedf44fa,1,6727051471a0fc4a0e7737b57bff2549,1961c3e1272bfeceb05d0b78b5bbfdaf,2018-08-23 04:55:37,219.00,19.63,60,1532,3,...,c9ec20fa7c49d29faacc03c26bc22c21,4,NaN,NaN,2018-08-30 00:00:00,2018-08-30 18:11:59,4a8493d781a65dfb623103a5dedf44fa_6727051471a0f...,4a8493d781a65dfb623103a5dedf44fa_6727051471a0f...,10.657396,-12.401458
115633,2ad4df0af7a71d632dccc0129bee3268,1,dbe520fb381ad695a7e1f2807d20c765,1961c3e1272bfeceb05d0b78b5bbfdaf,2018-08-03 16:44:57,239.00,10.42,60,840,6,...,ba287bd4bd3be5d9d37a908f25e21308,1,NaN,Ainda nÃ£o recebi o produto e tbm recebi uma ou...,2018-08-04 00:00:00,2018-08-06 15:23:59,2ad4df0af7a71d632dccc0129bee3268_dbe520fb381ad...,2ad4df0af7a71d632dccc0129bee3268_dbe520fb381ad...,NaN,NaN

In [35]:
# Create a subset for delivered orders

df_delivered =  df[df['order_status']=='delivered']

In [36]:
# Create new dataset

order_reviews = df_delivered.groupby('order_id').agg({'review_score': ['mean'],'order_lead_time': ['mean'],'order_days_delayed': ['mean']})

In [37]:
# check dataset

order_reviews.head()

,review_score,order_lead_time,order_days_delayed
,mean,mean,mean
order_id,,,
00010242fe8c5a6d1ba2dd792cb16214,5.0,7.614421,-8.011250
00018f77f2f0320c557190d7a144bdd3,4.0,16.216181,-2.330278
000229ec398224ef6ca0657da4fc703e,5.0,7.948437,-13.444954
00024acbcdf0a6daa1e931b038114c75,4.0,6.147269,-5.435660
00042b26cf59d7ce69dfabb4e55b4fd9,5.0,25.114352,-15.303808

In [38]:
# Export new dataset

order_reviews.to_csv(os.path.join(path, '02 Data','Prepared Data', 'order_reviews.csv'))

In [39]:
# Import data

order_reviews = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'order_reviews.csv'), index_col = False)

In [40]:
# Check dataset

order_reviews.head()

,Unnamed: 0,review_score,order_lead_time,order_days_delayed
0,NaN,mean,mean,mean
1,order_id,NaN,NaN,NaN
2,00010242fe8c5a6d1ba2dd792cb16214,5.0,7.614421296296296,-8.01125
3,00018f77f2f0320c557190d7a144bdd3,4.0,16.216180555555557,-2.330277777777778
4,000229ec398224ef6ca0657da4fc703e,5.0,7.9484375,-13.444953703703703

In [41]:
# Rename column

order_reviews.rename(columns = {'Unnamed: 0' : 'order_id'}, inplace = True)

In [42]:
# Drop rows

order_reviews_final = order_reviews.drop([0, 1])

In [43]:
# Check output

order_reviews_final.head()

,order_id,review_score,order_lead_time,order_days_delayed
2,00010242fe8c5a6d1ba2dd792cb16214,5.0,7.614421296296296,-8.01125
3,00018f77f2f0320c557190d7a144bdd3,4.0,16.216180555555557,-2.330277777777778
4,000229ec398224ef6ca0657da4fc703e,5.0,7.9484375,-13.444953703703703
5,00024acbcdf0a6daa1e931b038114c75,4.0,6.147268518518518,-5.435659722222222
6,00042b26cf59d7ce69dfabb4e55b4fd9,5.0,25.11435185185185,-15.30380787037037

In [44]:
# Drop and reset index

order_reviews_final.reset_index(drop=True)

,order_id,review_score,order_lead_time,order_days_delayed
0,00010242fe8c5a6d1ba2dd792cb16214,5.0,7.614421296296296,-8.01125
1,00018f77f2f0320c557190d7a144bdd3,4.0,16.216180555555557,-2.330277777777778
2,000229ec398224ef6ca0657da4fc703e,5.0,7.9484375,-13.444953703703703
3,00024acbcdf0a6daa1e931b038114c75,4.0,6.147268518518518,-5.435659722222222
4,00042b26cf59d7ce69dfabb4e55b4fd9,5.0,25.11435185185185,-15.30380787037037
...,...,...,...,...
94502,fffc94f6ce00a00581880bf54a75a037,5.0,17.374699074074073,-7.043981481481482
94503,fffcd46ef2263f404302a634eb57f7eb,5.0,9.420243055555556,-8.144502314814815
94504,fffce4705a9662cd70adb13d4a31832d,5.0,4.801689814814814,-12.484467592592592
94505,fffe18544ffabc95dfada21779c9644f,5.0,1.9560300925925926,-8.083564814814816
94506,fffe41c64501cc87c801fd61db3f6244,5.0,5.038981481481481,-13.252476851851851

In [45]:
order_reviews_final['order_days_delayed']=order_reviews_final['order_days_delayed'].astype('float64')

In [46]:
order_reviews_final.loc[order_reviews_final['order_days_delayed'] < -10, 'days_late'] = '>10 days early'

In [47]:
order_reviews_final.loc[(order_reviews_final['order_days_delayed'] >= -10) & (order_reviews_final['order_days_delayed'] < -5), 'days_late'] = '5-10 days early'

In [48]:
order_reviews_final.loc[(order_reviews_final['order_days_delayed'] >= -5) & (order_reviews_final['order_days_delayed'] < 0), 'days_late'] = '0-5 days early'

In [49]:
order_reviews_final.loc[(order_reviews_final['order_days_delayed'] >= 0) & (order_reviews_final['order_days_delayed'] < 5), 'days_late'] = '0-5 days late'

In [50]:
order_reviews_final.loc[(order_reviews_final['order_days_delayed'] >= 5) & (order_reviews_final['order_days_delayed'] < 10), 'days_late'] = '5-10 days late'

In [51]:
order_reviews_final.loc[order_reviews_final['order_days_delayed'] >= 10, 'days_late'] = '>10 days late'

In [52]:
order_reviews_final.head()

,order_id,review_score,order_lead_time,order_days_delayed,days_late
2,00010242fe8c5a6d1ba2dd792cb16214,5.0,7.614421296296296,-8.011250,5-10 days early
3,00018f77f2f0320c557190d7a144bdd3,4.0,16.216180555555557,-2.330278,0-5 days early
4,000229ec398224ef6ca0657da4fc703e,5.0,7.9484375,-13.444954,>10 days early
5,00024acbcdf0a6daa1e931b038114c75,4.0,6.147268518518518,-5.435660,5-10 days early
6,00042b26cf59d7ce69dfabb4e55b4fd9,5.0,25.11435185185185,-15.303808,>10 days early

In [53]:
df_agg = order_reviews_final.groupby('days_late').agg({'order_id': ['count']})

In [54]:
df_agg

                order_id
                   count
days_late
0-5 days early      8696
0-5 days late       3514
5-10 days early    22115
5-10 days late      1832
>10 days early     56144
>10 days late       2198

In [55]:
order_reviews_final['order_lead_time']=order_reviews_final['order_lead_time'].astype('float64')

In [56]:
order_reviews_final.loc[(order_reviews_final['order_lead_time'] >= 0) & (order_reviews_final['order_lead_time'] < 5), 'lead_time_days'] = '0-5 days'

In [57]:
order_reviews_final.loc[(order_reviews_final['order_lead_time'] >= 5) & (order_reviews_final['order_lead_time'] < 10), 'lead_time_days'] = '5-10 days'

In [58]:
order_reviews_final.loc[(order_reviews_final['order_lead_time'] >= 10) & (order_reviews_final['order_lead_time'] < 15), 'lead_time_days'] = '10-15 days'

In [59]:
order_reviews_final.loc[(order_reviews_final['order_lead_time'] >= 15) & (order_reviews_final['order_lead_time'] < 20), 'lead_time_days'] = '15-20 days'

In [60]:
order_reviews_final.loc[order_reviews_final['order_lead_time'] >= 20, 'lead_time_days'] = '>20 days'

In [61]:
order_reviews_final.head()

,order_id,review_score,order_lead_time,order_days_delayed,days_late,lead_time_days
2,00010242fe8c5a6d1ba2dd792cb16214,5.0,7.614421,-8.011250,5-10 days early,5-10 days
3,00018f77f2f0320c557190d7a144bdd3,4.0,16.216181,-2.330278,0-5 days early,15-20 days
4,000229ec398224ef6ca0657da4fc703e,5.0,7.948437,-13.444954,>10 days early,5-10 days
5,00024acbcdf0a6daa1e931b038114c75,4.0,6.147269,-5.435660,5-10 days early,5-10 days
6,00042b26cf59d7ce69dfabb4e55b4fd9,5.0,25.114352,-15.303808,>10 days early,>20 days

In [62]:
df_agg = order_reviews_final.groupby('lead_time_days').agg({'order_id': ['count']})

In [63]:
df_agg

               order_id
                  count
lead_time_days
0-5 days          13189
10-15 days        23132
15-20 days        11912
5-10 days         32452
>20 days          13814

# 03.Data cleaning

## Units Sold

In [64]:
units_sold_final.columns

Index(['product_id', 'units_sold', 'product_photos_qty', 'product_name_length',
       'product_description_length'],
      dtype='object')

In [65]:
units_sold_final.shape

(32184, 5)

### Missing values

In [66]:
# Check for missing values

units_sold_final.isnull().sum()

# No missing values to handle

product_id                    0
units_sold                    0
product_photos_qty            0
product_name_length           0
product_description_length    0
dtype: int64

### Duplicates check

In [67]:
dups = units_sold_final.duplicated()

In [68]:
dups.shape # No dups

(32184,)

## Payment Preferences

In [69]:
payment_preferences_final.columns

Index(['order_id', 'order_amount', 'payment_installments',
       'payment_method_count'],
      dtype='object')

In [70]:
payment_preferences_final.shape

(96537, 4)

### Missing values

In [71]:
# Check for missing values

payment_preferences_final.isnull().sum()

# No missing values to handle

order_id                0
order_amount            0
payment_installments    0
payment_method_count    0
dtype: int64

### Duplicates check

In [72]:
dups = payment_preferences_final.duplicated()

In [73]:
dups.shape # No dups

(96537,)

## Order reviews

In [74]:
order_reviews_final.columns

Index(['order_id', 'review_score', 'order_lead_time', 'order_days_delayed',
       'days_late', 'lead_time_days'],
      dtype='object')

In [75]:
order_reviews_final.shape

(94507, 6)

### Missing values

In [76]:
# Check for missing values

order_reviews_final.isnull().sum()

# No missing values to handle

order_id              0
review_score          0
order_lead_time       8
order_days_delayed    8
days_late             8
lead_time_days        8
dtype: int64

In [77]:
# Drop row with missing value

order_reviews_final = order_reviews_final.dropna()

In [78]:
# Check for missing values

order_reviews_final.isnull().sum()

# No missing values to handle

order_id              0
review_score          0
order_lead_time       0
order_days_delayed    0
days_late             0
lead_time_days        0
dtype: int64

### Duplicates check

In [79]:
dups = order_reviews_final.duplicated()

In [80]:
dups.shape # No dups

(94499,)

# 04. Export tables

In [81]:
# Export new dataset

units_sold_final.to_csv(os.path.join(path, '02 Data','Prepared Data', 'units_sold_final.csv'))

In [82]:
# Export new dataset

payment_preferences_final.to_csv(os.path.join(path, '02 Data','Prepared Data', 'payment_preferences_final.csv'))

In [83]:
# Export new dataset

order_reviews_final.to_csv(os.path.join(path, '02 Data','Prepared Data', 'order_reviews_final.csv'))

In [84]:
# Export dataset with new columns

df.to_csv(os.path.join(path, '02 Data','Prepared Data', 'items_final_all.csv'))